# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xcodeproj
*.xcworkspace

# XcodeGen
*.xcodeproj

# SwiftPM
.build/
.swiftpm/

# Web
web/node_modules/
web/dist/

# macOS
.DS_Store

# Secrets
*.env
.env.*
